
.login {
    max-width: 700px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: 20px;
}

legend {
    color: white;
}

.loggedIn {
    flex: 5;
    align-items: center;
    justify-content: center;
}

.subbtn {
    flex: 5;
}