
.login {
    max-width: 700px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #176AE8;
    margin: 20px;
}

legend {
    color: #176AE8;
}

.loggedIn {
    flex: 5;
    align-items: center;
    justify-content: center;
}

.subbtn {
    flex: 5;
    padding: 10px 10px;
    margin: 10px;
}